@model List<Project>
<h1>
Proje Listesi
</h1>
<div class="row">
    @foreach (var project in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@project.Title</h5>
                    <p class="card-text">@project.Budget</p>
                    
                    
                    <a asp-controller="ProjectManager" 
                        asp-action="Details" 
                        asp-route-id="@project.Id"
                        class="btn btn-primary">Detaylar</a>
                </div>
            </div>
        </div>
    }
</div>