<h1>Model Doldurma Indeksi</h1>

<ul>
    <li>
        <a href="/mb/introduce">Tanıtım</a>
    </li>
    <li>
        <a asp-controller="Mb" asp-action="Introduce">Tanıtım</a>
    </li>
    <li>
        <a asp-controller="Mb" asp-action="Cities">Şehirler</a>
    </li>
    <li>
        <a asp-controller="Mb" asp-action="Person">Kişi</a>
    </li>
    <li>
        <a asp-controller="Mb" asp-action="PersonList">Kişi Listesi</a>
    </li>
</ul>