@model Person
<ul>
    <li>@Model.Id</li>
    <li>@Model.FirstName</li>
    <li>@Model.LastName</li>
    <li>@Model.Salary.ToString("C2")</li>
</ul>

<p>
    <a 
        class="btn btn-primary"
        asp-controller="mb" asp-action="Index">Indeks</a>
</p>